:root {
    --primary: #FC1130;
    --secondary: #0078AA;
    --secondary-dark: #010E2E;
    --white-100: #FBFDFC;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary);
    color: var(--white-100);
    padding: 5px;
}

.logo {
    display: flex;
    width: 90px;
    height: auto;
    margin: 0 auto;
    border-radius: 100%;
}

.nav-principal a:hover, 
.nav-login a:hover{
    color: var(--secondary-dark);
}

.nav-principal, 
.nav-login{
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.nav-principal a, 
.nav-login a {
    color: var(--white-300);
    font-weight: bold;
    text-decoration: none;
}

.nav-principal a {
    font-size: 35px;
}

.nav-login a {
    font-size: 20px;
}

h2 {
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    padding: 25px 60px;
}

main {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

button, .button {
    padding: 10px 20px;
    background-color: var(--secondary);
    color: var(--white-100);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

button:hover, .button:hover {
    background-color: var(--primary);
}

label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

textarea {
    font-family: Roboto, sans-serif;
    resize: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-dark);
    color: var(--white-100);
    width: 100%;
    resize: none;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    .logo {
        width: 100px;
        border-radius: 100%;
    }

    .nav-principal, 
    .nav-login{
        display: contents;
        padding: 0%;
    }

    .nav-login{
        display: flex;
    }

    main {
        max-width: 90%;
        padding: 20px 0;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}